# Dependencies
**/node_modules/

# Environment Variables (SENSITIVE)
**/.env
**/.env.local

# Build outputs
**/dist/
**/build/

# Logs
backend/*.log
frontend/*.log
npm-debug.log*

# OS specific files
.DS_Store
Thumbs.db